*.zip
*.tar

.settings
.idea
*.iml

/.vscode

*.sublime-project
*.sublime-workspace

*.project

.php_cs.cache
.php-cs-fixer.cache


phpunit.phar
/phpunit.xml
.phpunit.result.cache


Thumbs.db
*.DS_Store

/vendor
composer.phar
composer.lock


